<!doctype html>
<html>
<head>
  <title>Wizeline: url shortener</title>
  <link href='/css/reset.css' type="text/css" rel="stylesheet" />
  <link href='/css/main.css' type="text/css" rel="stylesheet" />
  <script src='/scripts/jquery.min.js' type="text/javascript"></script>
</head>
<body>
  <header class="shadow">
    <div><img src="logo.jpg" style="height:70px; width:auto;" />url shortener</div>
  </header>
  <br /><br />
  <div class="PageContent shadow">
    {{{body}}}
  </div>
</body>
</html>
